<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

<h2>Cadastrar</h2>

<form action="/cadastro" method="post">

    <label>Nome</label>
    <input type="text" name="nome" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Senha</label>
    <input type="password" name="senha" required>

    <label>Telefone</label>
    <input type="" name="telefone" required>

    <label>Data de nascimento</label>
    <input type="date" name="dataNascimento" required>

    <button type="submit">Cadastrar</button>

</form>

<a th:href="@{/}">Menu</a>

</body>
</html>