<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Minhas Denúncias</title>
</head>
<body>

<h2>Minhas Denúncias</h2>

<a href="/registrar_denuncia">Nova denúncia</a>
<a th:href="@{/}">Menu</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Endereço</th>
        <th>Categoria</th>
        <th>Status</th>
        <th>Excluir</th>
    </tr>

    <tr th:each="denuncia : ${denuncias}">

        <td th:text="${denuncia.id}"></td>

        <td th:text="${denuncia.descricao}"></td>

        <td th:text="${denuncia.endereco}"></td>

        <td th:text="${denuncia.categoria_residuo}"></td>

        <td th:text="${denuncia.status}"></td>

        <td>
            <form th:action="@{/excluir_denuncia/{id}(id=${denuncia.id})}" method="post">
                <button type="submit">Excluir</button>
            </form>
        </td>

    </tr>

</table>


</body>
</html>